@model IEnumerable<ShoppingCartExample.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="..\Images\@Html.DisplayFor(modelItem => item.Image)" alt="Sample Image" width="300px" />
        </td>
        <td style="white-space: nowrap;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>*@
        <td style="white-space: nowrap;">
            <input type="button" value="Add to Cart" class="btn btn-default" onclick="location.href='@Url.Action("Add","Cart",new { item.ProductID })'" />
        </td>
    </tr>
}
    
</table>
